body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background: url('https://wallhaven.cc/w/e7651w') no-repeat center/cover;
  color: white;
  scroll-behavior: smooth;
}

/* WELCOME */
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  text-align: center;
  animation: fadeIn 2s ease;
}

.welcome button {
  margin-top: 20px;
  padding: 15px;
  background: red;
  border: none;
  color: white;
  border-radius: 10px;
}

/* ANIMATION */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

header {
  text-align: center;
  padding: 20px;
}

.container {
  padding: 20px;
  display: grid;
  gap: 20px;
}

/* CARD STYLE */
.card {
  background: linear-gradient(145deg, #0a0a0a, #1a1a1a);
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255,0,0,0.3);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card h3 {
  color: #ff2e2e;
}

/* BUTTON */
.buy-btn {
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  background: red;
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #111;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  animation: fadeIn 0.5s;
}

.buy-discord {
  display: block;
  background: red;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

/* BIG CLOSE BUTTON */
.close-btn {
  background: gray;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

/* INFO */
.info {
  margin: 20px;
  font-size: 10px;
  text-align: center;
}
